* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakes-Thin.woff");
}

ul,
li {
  list-style-type: none;
}

html,
body {
  font-family: "TT Lakes";
}

.brands {
  height: 160px;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  padding: 16px;
  height: 80px;
  margin: auto;
}

.btn-block {
  display: flex;
  margin-top: 24px;
  align-items: center;
}

.main {
  padding: 0 24px 24px 24px;
  margin: auto;
}

.title {
  font-weight: 100;
}

@media (min-width: 320px) {
  .header {
    max-width: 320px;
    width: 100%;
  }

  .btn-block {
    display: none;
  }

  .content {
    display: none;
  }

  .main {
    max-width: 320px;
    padding: 0 16px 16px 16px;
    width: 100%;
  }

  .swiper {
    max-width: 320px;
    height: 110px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .main {
    max-width: 768px;
    width: 100%;
  }

  .header {
    max-width: 768px;
    width: 100%;
  }

  .btn-block {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .br {
    display: none;
  }

  .content {
    display: block;
  }

  .swiper {
    display: none !important;
  }

  .brands {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1120px) {
  .main {
    max-width: 1120px;
    width: 100%;
  }
  .header {
    max-width: 1120px;
    width: 100%;
  }

  .brands {
    grid-template-columns: repeat(4, 1fr);
  }
}
